{% load staticfiles %}
<div class="comment-form-head card-header">Leave a comment</div>
<div class="card-text">
	<form id="comment-form" class="comment-form" autocomplete="on">
	    {{ comment.non_field_errors }}
	    <fieldset>
	        {% csrf_token %}
	        <div class="control-group invisible hidden-xs-up">
	            {{ comment.post.errors }}
	            <label for="{{ comment.post.id_for_post}}" 
	                        class="control-label">Post ID:</label>
	            <div class="controls">
	                {{ comment.post }}
	            </div>
	            {{ comment.parent_comment.errors }}
	            <label for="{{ comment.parent_comment.id_for_parent_comment }}" 
	                                class="control-label">Parent Comment ID:</label>
	            <div class="controls">
	                {{ comment.parent_comment }}
	            </div>
	        </div>
	        <div>
	        {% if request.user.is_authenticated != True %}
		        <div class="social-login-buttons">
		          <small class="talk">Login using </small>
		          <span class="fa fa-google-plus"></span>
		          <span class="fa fa-facebook"></span>
		          <span class="fa fa-twitter"></span>
		        </div> 
	            
	            <div class="row form-group">
		            {{ comment.author_name.errors }}
		            <label for="{{ comment.author_name.id_for_author_name}}" class="form-control-label sr-only">Name</label>
		            <div class="form-control">
		                {{ comment.author_name }}
		            </div>
		        </div>
		        <div class="row form-group">
	                {{ comment.author_email.errors }}
	                <label for="{{ comment.author_email.id_for_author_email }}" class="form-control-label sr-only">e-mail</label>
	                <div class="form-control">
                    {{ comment.author_email }}
	                </div>
	            </div>
	            <div class="row form-group">
					{{ comment.author_url.errors }}
					<label for="{{ comment.author_url.id_for_url }}" class="form-control-label">Homepage</label>
					<div class="controls">
					{{ comment.author_url }}
					</div>
	            </div>
	        {% else %}
	            <div class="row form-group ">
	                <label for="name" class="form-control-label sr-only">Name</label>
	                <div class="form-control">
	                  <input class ="user-input" type="text" id="id_author_name" name="name" value="{{ request.user.profile.get_profile_name }}" disabled></input>
	                </div>
	            </div>
	            <div class="row form-group ">
	                <label for="email" class="form-control-label sr-only">e-mail</label>
	                <div class="form-control">
	                    <input class ="user-input" type="email" id="id_author_email" name="email" value="{{ request.user.profile.get_email }}" disabled></input>
	                </div>
	            </div>
	            <div class="row form-group ">
	                <label for="url" class="form-control-label sr-only">Homepage</label>
	                <div class="form-control">
	                    <input class ="user-input" type="url" id="id_author_url" name="url" placeholder="www." value="{{ request.user.profile.get_website|default:"" }}"></input>
	                </div>
	            </div>
	        {% endif %}
	        </div>
	        <div class="row form-group ">
	            {{ comment.body.errors }}
	            <label for="{{ comment.body.id_for_body }}" class="form-control-label sr-only">Comment</label>
	            <div class="controls">
	                {{ comment.body }}
	            </div>
	        </div>
	        <div class="form-actions">
	            <button id="post_comment" type="button" class="btn btn-primary" title="Make a POST request on the Comments resource">POST</button>
	        </div>
	    </fieldset>
	</form>
</div>