{% load staticfiles %}
<form id="comment-form" class="comment-form" autocomplete="on">
    {{ comment.non_field_errors }}
    <fieldset>
        {% csrf_token %}
        <div class="control-group invisible">
            {{ comment.post.errors }}
            <label for="{{ comment.post.id_for_post}}" 
                        class="control-label">Post ID:</label>
            <div class="controls">
                {{ comment.post }}
            </div>
            {{ comment.parent_comment.errors }}
            <label for="{{ comment.parent_comment.id_for_parent_comment }}" 
                                class="control-label">Parent Comment ID:</label>
            <div class="controls">
                {{ comment.parent_comment }}
            </div>
        </div>
        {% if request.user.is_authenticated != True %}
        <div class="control-group ">
            {{ comment.author_name.errors }}
            <label for="{{ comment.author_name.id_for_author_name}}" 
                        class="control-label">Name:</label>
            <div class="controls">
                {{ comment.author_name }}
            </div>
            {{ comment.author_email.errors }}
            <label for="{{ comment.author_email.id_for_author_email }}" class="control-label">e-mail:</label>
            <div class="controls">
                {{ comment.author_email }}
            </div>
            {{ comment.author_url.errors }}
            <label for="{{ comment.author_url.id_for_url }}" class="control-label">Homepage:</label>
            <div class="controls">
                {{ comment.author_url }}
            </div>
        </div>
        {% else %}
        <div class="control-group ">
            <label for="name" class="control-label">Name:</label>
            <div class="controls">
                <input class ="user-input" type="text" id="id_author_name" name="name" value="{{ request.user.profile.get_profile_name }}" disabled></input>
            </div>
            <label for="email" class="control-label">e-mail:</label>
            <div class="controls">
                <input class ="user-input" type="email" id="id_author_email" name="email" value="{{ request.user.profile.get_email }}" disabled></input>
            </div>
            <label for="url" class="control-label">Homepage:</label>
            <div class="controls">
                <input class ="user-input" type="url" id="id_author_url" name="url" placeholder="www." value="{{ request.user.profile.get_website|default:"" }}"></input>
            </div>
        </div>
        {% endif %}
        <div class="control-group ">
            {{ comment.body.errors }}
            <label for="{{ comment.body.id_for_body }}" class="control-label">Comment:</label>
            <div class="controls">
                {{ comment.body }}
            </div>
        </div>
        <div class="form-actions">
            <button id="post_comment" type="button" class="btn btn-primary" title="Make a POST request on the Comments resource">POST</button>
        </div>
    </fieldset>
</form>
<script src="{% static "js/comments/comments.js" %}"></script>