beautifulsoup4
diff-match-patch
Django
django-allauth
django-appconf
django-ckeditor
django-classy-tags
django-crispy-forms
django-formtools
django-mptt
django-reversion
Django-Select2
django-taggit
djangorestframework
funcsigs
html5lib
Markdown
mock
MySQL-python
ndg-httpsclient
nose
oauthlib
pbr
phpserialize
pyasn1
pygccxml
pyparsing
python-dateutil
python-openid
pytz
requests
requests-oauthlib
six
virtualenv
xmltodict
