asgiref
beautifulsoup4
certifi
cffi
chardet
charset-normalizer
cryptography
defusedxml
Django
django-allauth
django-appconf
django-ckeditor
django-classy-tags
django-crispy-forms
django-js-asset
django-mptt
django-mptt-nomagic
django-reversion
django-select2
django-taggit
django-treebeard
djangorestframework
idna
mysqlclient
oauthlib
pycparser
PyJWT
python3-openid
pytz
requests
requests-oauthlib
six
soupsieve
sqlparse
urllib3
crispy-bootstrap5
html5lib
