{% load humanize %}


<section  id="section-view" class="teaser-list col-md-8 col-sm-12">
        {% if nodes|length > 0 %}
            {% for node in nodes %}
                <article class="teaser-item clearfix card card-block">
                    <figure class="teaser-image">
                        <a href="{{ node.get_absolute_url }}" class="center-block">
                            <img class="img-fluid" alt="Link to {{ node.title }}" src="{{ node.get_image_url }}"></img>
                        </a>
                    </figure>
                    <div class="teaser-content">
                       <header class="teaser-title">
                          <a href="{{ node.get_absolute_url }}">{{ node.title }}</a>
                       </header>
                        <p>{{ node.get_summary }}</p>
                        <span>Posted on:</p> <strong>{{ node.publication_start|naturalday }}</strong></span>
                        <span><a class="btn btn-default btn-more" href="{{ node.get_absolute_url }}" role="button">Read More</a></span>
                        <div class="teaser-tags"><span class="glyphicon glyphicon-tags"></span> <span><b>Tags:</b></span>
                          <ul class="tag-list">
                          {% for tag in node.get_tags %}
                            <li> <a href="{{ tag.url }}"> {{ tag.name }}</a></li>
                          {% endfor %} 
                          </ul>
                        </div>
                     </div>
                </article>
            {% endfor %}
        {% else %}
            {% include 'under_construction.html' %}
        {% endif %}

{% if nodes.paginator.count > max_entry %}
    <div class="text-center">
    <ul class="pagination">
            {% if nodes.has_previous %}
                <li><a href="?page={{ nodes.previous_page_number }}">&laquo;</a></li>
            {% endif %}
              <li><a href="">{{ nodes.number }} of {{ nodes.paginator.num_pages }}</a></li>
            {% if nodes.has_next %}
                <li><a href="?page={{ nodes.next_page_number }}">&raquo;</a></li>
            {% endif %}
    </ul>
    </div>
{% endif %}

</section>
