//== Color Schemes
$text-color: #111111;

$default-border-color: rgba(233,233,233,0.7);

$body-background-color: #ffffff;
$image-borders: rgba(233,233,233,0.7);

$link-default: $text-color;

$btn-custom-color: rgba(233,233,233,0.7);
//$btn-primary-color: rgba(66, 139, 202, 1);

$button-border-color: $image-borders;
$quote-border-color: rgba(33,33,33,0.7);

$error-text-color: #D8646A;