{% load tz %}
<div class="card">
	<div class="card-header">Drafts</div>
	<div class="table-responsive card-text">
	    {% if not drafts|length > 0 %}
		<div class="alert alert-success" role="alert">
			No articles in draft!!!
		</div>
	    {% else %}
        {% if drafts|length > 10 %}
        <div class="alert alert-warning" role="alert">
            It seems you have too much in your hand. Wrap it up!!!
        </div>
        {% endif %}
		<table class="table table-striped">
		  <thead class="thead-inverse">
			<tr><td>Title</td><td>Section</td><td>Last Updated</td></tr>
		  </thead>
		  <tbody>
			{% for el in drafts %}
			<tr>
			<td> <a href="{{ el.get_absolute_url }}"> {{ el.get_title }} </a> </td>
			<td> {{ el.get_parent.get_menu_title }} </td>
			<td title="{{ el.last_modified }}">{{ el.get_modified_time }}</td>
			</tr>
			{% endfor %}
		  </tbody>
		</table>
	{% endif %}
	</div>
	{% if drafts.paginator.count > 1 %}
	{% if drafts.paginator.count > max_entry %}
    <nav class="page-pagination">
    {% include "pagination.html" with obj_list=drafts getvars=getvars only %}
    </nav>
    {% endif %}
    {% endif %}
</div>