{% load tz %}
<div class="card">
    <div class="card-header">Pending for Approval</div>
    <div class="table-responsive card-text">
		{% if not pending|length > 0 %}
		<div class="alert alert-success" role="alert">
			No Articles Pending!!!
		</div>
		{% else %}
	    {% if pending|length > 5 %}
	        <div class="alert alert-warning" role="alert">
	            It seems Admin is not doing his job. Send him A message!!!
	        </div>
	    {% endif %}
		<table class="table table-striped">
			<thead class="thead-inverse">
				<tr><td>Title</td><td>Section</td><td>Last Updated</td></tr>
			</thead>
			<tbody>
			{% for el in pending %}
			  <tr>
				<td> <a href="{{ el.get_absolute_url }}"> {{ el.get_title }} </a> </td>
				<td> {{ el.get_parent.get_menu_title }} </td>
				<td title="{{ el.last_modified }}">{{ el.get_modified_time }}</td>
			  </tr>
			{% endfor %}
			</tbody>
		</table>
		{% endif %}
    </div>
    {% if pending.paginator.count > 1 %}
    {% if pending.paginator.count > max_entry %}
    <nav class="page-pagination">
    {% include "pagination.html" with obj_list=pending getvars=getvars only %}
    </nav>
    {% endif %}
    {% endif %}

</div>
