{% load tz %}
<div class="card">
	<div class="card-header">Published Articles</div>
	<div class="table-responsive card-text">
	    {% if not published|length > 0 %}
        <h3> <span class="fa fa-info"></span> No Article Published yet!</h3>
        {% if not request.user.is_staff %}
            <div class="alert alert-warning alert-dismissible" role="alert">
            It seems you are not our staff yet. Want to contribute? <a href="en/contact-us/?contact_type=Join"> Contact US </a>
            </div>
        {% endif %}
        {% else %}
		<table class="table table-striped">
			<thead class="thead-inverse">
				<tr><td>Title</td><td>Section</td><td>Date</td></tr>
			</thead>
			<tbody>
			{% for el in published %}
			<tr>
			    <td><a href="{{ el.get_absolute_url }}">{{ el.get_title }}</a></td>
				<td>{{ el.get_parent.get_menu_title }}</td>
				<td title="{{ el.publication_start }}">{{ el.publication_start }}</td>
			</tr>
			{% endfor %}
			</tbody>
		</table>
		{% endif %}
	</div>
	{% if published.paginator.count > 1 %}
	{% if published.paginator.count > max_entry %}
    <nav class="page-pagination">
    {% include "pagination.html" with obj_list=published getvars=getvars only %}
    </nav>
	{% endif %}
	{% endif %}
</div>