{% load tz %}
<div class="card">
	<div class="card-header">Pending for Review</div>
	<div class="table-responsive card-text">
	   {% if not review|length > 0 %}
		<div class="alert alert-success" role="alert">
			Nothing to review!!!
		</div>
	   {% else %}
	   {% if review|length > 10 %}
        <div class="alert alert-warning" role="alert">
         It seems you are falling behind. hurry up!!!
        </div>
        {% endif %}
		<table class="table table-striped">
			<thead><tr><td>Title</td><td>Section</td><td>Last Updated</td></tr></thead>
			<tbody>
			{% for el in review %}
			    <tr>
				    <td><a href="{{ el.get_absolute_url }}"> {{ el.get_title }} </a> </td>
					<td> {{ el.get_parent.get_menu_title }} </td>
					<td title="{{ el.last_modified }}">{{ el.get_modified_time }}</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
		{% endif %}
	</div>
    {% if review.paginator.count > 1 %}
    {% if review.paginator.count > max_entry %}
    <nav class="page-pagination">
    {% include "pagination.html" with obj_list=review getvars=getvars only %}
    </nav>
    {% endif %}
    {% endif %}
</div>