{% extends "blogging/base.html" %}
{% load static %}
{% block extra_script %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}admin/css/forms.css"/>
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}admin/css/widgets.css"/>
<script type="text/javascript" src="{{ STATIC_URL }}js/mathjax.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.6/MathJax.js?config=TeX-MML-AM_CHTML"></script>
<script>
  MathJax.Ajax.config.path["mhchem"] = "https://cdnjs.cloudflare.com/ajax/libs/mathjax-mhchem/3.3.2";
  MathJax.Hub.Config({
    showMathMenu: false,
    TeX: {
      extensions: [ "[mhchem]/mhchem.js" ]
    }, 
    messageStyle: "none",
      tex2jax: {
      preview: "none"
    }
  });
</script>
{% comment %}

<script type="text/javascript" src="/admin/jsi18n/"></script>
<script type="text/javascript" src="{{ STATIC_URL }}admin/js/core.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}admin/js/admin/RelatedObjectLookups.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}admin/js/jquery.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}admin/js/jquery.init.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}admin/js/actions.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}admin/js/calendar.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}admin/js/admin/DateTimeShortcuts.js"></script>

{% endcomment %}

{{ form.media }}

{% endblock %}
{% block styles %}
<link href="{% static "css/dashboard/style.css" %}" rel="stylesheet">
<link href="{% static "css/dashboard.css" %}" rel="stylesheet">
{% endblock %}
{% block container-open %}
{% endblock %}
{% block container-close %}
{% endblock %}
{% block title %}
Create Content - Phase-2
{% endblock %}


{% block content_blog %}
<div class="container-fluid clearfix" >
	    {% include 'dashboard/leftbar.html' with active="create" %}

	<div id="page-content-wrapper" class="col-md-10 dashboard-panel">
		{% if success %}
		
		<h1> Save Success! Thank You For Time. </h1> 
		
		
		{% else %}
		
    <form  action="{{ form.action }}" id="id-DefaultblogForm" class="form-horizontal" method="post" >
      {{ form.non_field_errors }}
      {% csrf_token %}
      {% for field in form.visible_fields %}
       <div class="row form-group ">
	      {{ field.errors }}
	      <label for="{{ field.id_for_label }}" class="col-sm-1 form-control-label">{{ field.label }}</label>
	      <div class="col-sm-11">
	      {{ field }}  
	      {% if field.help_text %}
	      <p class="help">{{ field.help_text|safe }}</p>
	      {% endif %}
	  	  </div>
      </div>
      {% endfor %}
      {% for hidden in form.hidden_fields %}
	  {{ hidden }}
	  {% endfor %}
      <div class="row form-group">
        <input type="submit" name="submit" value="Publish" class="btn btn-primary button blue" id="submit-id-submit"/>
        <input type="submit" name="submit" value="Save Draft" class="btn btn-primary button white" id="submit-id-submit"/>
      </div>
    </form>
		
		{% endif %}
	</div>
</div>
{% endblock %}
{% block site-head %}
    <nav class="navbar navbar-dark bg-inverse dashboard-head">
        <button type="button" class="navbar-toggler hidden-sm-up" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Aesthetic Blasphemy (Admin)</a>
        <div id="navbar">
          <nav class="nav navbar-nav pull-xs-left">
            <a class="nav-item nav-link" href="/">Home</a>
          </nav>
          <button type="text" class="btn btn-danger pull-xs-right" data-target="/accounts/logout/?next=/">Logout</button>
        </div>
      </nav>
{% endblock %}
{% block section_menu %}

{% endblock %}
