{% load staticfiles %}
{% load mptt_tags %}

<nav class="site-nav clearfix">
    <button id='navSlide' class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse-ing" data-target="#siteNavCollapse">&#9776;</button>
    <div class="collapse navbar-toggleable-xs" id="siteNavCollapse">
        <button id='navSlideback' class="navbar-toggler hidden-sm-up navbar-cross" type="button" data-toggle="collapse-ing" data-target="#siteNavCollapse">&#10005;</button>
        <ul class="nav navbar-nav dropdown clearfix" role="menu" aria-labelledby="dropdownMenu">
        {% recursetree sections %}
        {% if not node.is_leaf_node %}
          <li class="btn-group">
            <a type="button" class="btn" href="{{ node.get_content_url }}">{{ node.get_menu_title }}</a>
            <a type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="sr-only">Toggle Dropdown</span></a>
            <ul class="dropdown-menu">
            {{ children }}
            </ul>
        {% elif node.parent == None %}
          <li class="btn-group">
            <span type="button" class="btn"><a href="{{ node.get_content_url }}" >{{ node.get_menu_title }}</a></span>
        {% else %}
          <li class="dropdown-item">
            <a href="{{ node.get_content_url }}" >{{ node.get_menu_title }}</a>
        {% endif %}        
          </li>
        {% endrecursetree %}
        </ul>
    </div>
</nav>
<script type="text/javascript" src="{% static "js/blogging/navslide.js" %}"></script>