{% extends "base.html" %}
{% load static %}
{% load section_tags %}
{% block title %}
About Me
{% endblock %}

{% block meta %}
{% include "meta.html" with meta=meta only %}
{% endblock %}

{% block section_menu %}
    {% section_tree %}
{% endblock %}
{% block content %}
<div class="content-area clearfix">
{% block content_blog %}
    <section class="header-ribbon col-lg-8 col-md-12" itemscope itemtype="https://schema.org/Article">
        <h3 class="article-title" itemprop="headline">About Me</h3>
        <div class="article-actions">
            <div class="article-actions__button pull-md-right social-buttons">
                <a href="https://twitter.com/share" class="twitter-share-button">
                <i class="fa fa-twitter"></i>Tweet
                </a>
            </div>
            <div class="article-actions__button pull-md-right social-buttons fb">
              <div class="fb-share-button" data-href="{{ request.path|safe }}" data-layout="button_count"></div>
            </div>
            <div class="article-actions__button pull-md-right social-buttons">
                <div class="g-plus" data-action="share" data-href="{{ request.path|safe }}" data-align="right" data-annotation="bubble" ></div>
            </div>
        </div>

        <article class="article-body" itemprop="articleBody">
            <meta itemprop="datePublished" content=" {{ meta.date_time }} "/>
            <h3 class="text-xs-center">Aesthetic Blasphemy - A Million Little Things</h3>
            <p>Our lives are interspersed with experiences, learning and findings, the agglomeration of which defines us. But often in the race to outrun life,
            we fail to notice what goes past every day. This, is my living experiment. It started as a small blog, and now accommodates more than just blog posts.
            This is my knowledge base.
            Here, I share what I think, share what I learn, share what I find and think is quite awesome, and here is where I practice my wordplay, arguments and rhetoric.</p>
            <p>I try not to generalize what I believe, even if it is quoted to be a general case. I merely state what I see or know, or learn, with appropriate attributions.
            Hence, I try not to say 'we', I speak for myself.
            If given a choice, I want to learn everything, know everything. Aesthetic Blasphemy is my answer to that calling.
            To me, life is a million little things, inter-related, no matter how disconnected they appear on the surface.
            Here, I catalogue all of them, and find patterns. Allow me to give you a little run down of this website and then we'll have all the time to know me as recorded on paper.
            So, shall we? :-)</p>

            <p>The website is divided into 2 major categories - Non-Technical and Technical. You can think of it being modelled as the conventional diagram of the brain.
            The left side is attributed to the technical and discerning brain, the seat of logic and rational thinking.
            The right side is associated with creative outlets, passion and whims, and emotions of course.
            Though there is no hard line where the two meet and traces of one are often found in the other, and that is what I'd term as they grey area.
            So, the left side holds the <a href="/blog/technical/">Engineering Section</a>, the <a href="/blog/learning-experience/"> Learning Section</a>,
            and the <a href="/blog/scoops/">Knowledge Scoops</a>.
            The information about this section will be more coherent if I elaborated it while I tell you something about myself.</p>

            <p>The right side apparently takes up more space than what is just and expands both horizontally and vertically.
            This is because my rational side believes in pampering the inner child by letting it run amok.
            So, it manifests itself as a dropdown of <a href="/blog/blog/">Blog</a>, <a href="/blog/opinion/">Opiniated posts</a> on everything my digressive mind evaluates
            in the world, <a href="/blog/book-reviews/">Book Reviews</a> where I catalogue the books I've read and what I thought of them when I
             read them and the <a href="/blog/quotables/">Quotables</a> section where I keep quotes and lyrics which inspire me,
             or those which I like to throw around every now and then. These also contain hyperlinks to the relevant author, the image sources
             (which are often by other awesome bloggers) so that the child is always learning new stuff.</p>

            <p>If you will notice closely, what I said right appears in the left side of the screen and what I said is left, is in the right.
            That isn't exactly true. Imagine that I am talking to you while you read this, and I am sitting in front of you while I tell you so.
            Now tell me, isn't your right my left? :-)</p>

            <p>Now, a little about me. I write by the pen name <i>'Blasphemous Aesthete'</i>. Many people have often asked me what this name implies.
            I am not sure if Blasphemous Aesthete came first, or Aesthetic Blasphemy. But when I started to blog seriously, I wanted to read everything that is beautiful (to me).
            As Gordon Deitrich said (in the movie 'V' for Vendetta) about the holy Quran, "I don’t have to be Muslim to find the images beautiful or its poetry moving."
            So, I will not worry about what you think about what I like and share, or read, because that is not supposed to be my problem,
            my problem is to find beautiful things and observe them and grasp them.
            By the way, that movie was not released by the time I had started using this name, I first like something and then find reasons about it (most of the time).</p>

            <p>I am mildly amusing, mostly discerning and not very good at conversations.
            The written word allows enough time in between for me to make them more appropriate. In real life, if I can just remind myself to think before I speak or write,
            I try not to digress and exhibit sharp acuity, the other times, I have a strong tendency to digress and ramble.
            I don't perform well under pressure, self induced or system imposed unless I am really interested and just decide not to care a dime about anything else.</p>

            <p>Outside this virtual domain, I am an Engineer by profession and work with a R&D organization dealing with Computer and Telephone network products and technology.
            I have immense zeal in Robotics, though the sporadic attention that I manage to give it makes me more of a struggling dilettante.
            I am a programmer, I code in C for a living, and other auxiliary languages.
            In an urge to make this place from scratch, I learnt PHP programming and now am learning Python programming (I didn't make this place from scratch,
            but I still haven't given up hope.) I also freelance as a writer (mainly on technical topics related to engineering and technology),
            a proof reader, an editor and have worked with product design and creating content guidelines.
            The left side of Aesthetic Blasphemy covers these aspects. The Engineering Section covers Programming tutorials, walkthroughs and articles in C
            (with PHP, Python and Drupal tutorials in the pipeline), could cover product reviews in the future, and every territory that my technical qualification and
            interests take me. It will also cover my tete-a-tete with <a href="/blog/technical/hardware-ish/">robotics and embedded systems</a> as I
            continue to make progress in that domain. You just wait and watch, I'll make a Megatron (someday).</p>

            <p>My freelance world and the curiosity to figure things out (know thyself) have helped me learn many things that a conventional job in Electronic and Computer
            Design would not yield (given that I am fairly an infant in my job learning process with 2 and a half years of experience at the time of writing this).
            These things are catalogued in the Learning Section.</p>

            <p>Is this enough, my Leige? So, what can you do while you are here? Mainly, you can read and let me know what you honestly think.
            I can do with criticism, even though it hurts. I won't stop until it is perfect. If you like, you can subscribe to feeds,
            or you can Like my Facebook page and send messages, or write on the wall. Google plus is there too.
            For further technical information, you can visit my LinkedIn profile.
            If you liked a particular post, let the world know (and me too). If you've goodwill, let me know.</p>

<p>In case you want to fall in conversations, and because I love letters, you can reach me at

<email>blasphemous.aesthete(at)aestheticblasphemy(dot)com</email></p>


<p><i>P.S.</i> The 'About Me' page, as I see it is a constantly changing place, as is this entire experiment, I'll keep on nourishing it as and when time permits and I have something conclusive to say :-)</p>
        </article>
    </section>
    {% include 'rightbar.html' %}
{% endblock %}
</div>
{% endblock %}
