{% load blogging_tags %}
{% load humanize %}
<aside class="col-md-4 col-sm-12 side-panel">

  <div class="card">
    <div class="card-body clearfix text-xs-center center-block">
      <div class="fb-like" data-href="https://www.facebook.com/AestheticBlasphemy" data-width="260" data-layout="standard" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>
    </div>
  </div>

  <!--recent articles -->
  <div class="card">
    <div class="card-header">Recent Posts</div>
      <ul class="list-group list-group-flush">
        {% get_recent_articles as articles %}
        {% for article in articles %}
        <li class="list-group-item media">
          <a href="{{ article.get_absolute_url }}" class="media-left"><img src="{{ article.get_image_url }}" alt="Link to {{ article.get_title }}" class="media-object"></a>
          <div class="media-body">
            <h4 class="media-heading"><a href="{{ article.get_absolute_url }}" class="card-link">{{ article.get_title }}</a></h4>
              <div class="small"><span class="pull-left"><small><a href="{{ article.get_parent.get_content_url }}" class="card-link">{{ article.get_parent.get_menu_title }}</a></small></span><span class="pull-right"><small>{{ article.publication_start|naturalday }}</small></span></div>
          </div>
        </li>
        {% endfor %}
      </ul>
    </div>

  <!-- Tags -->
  <div class="card">
    <div class="card-header">Tags</div>
    <div class="card-body clearfix">
      <ul class="tag-list nav nav-pills">
      {% get_blogging_tags as tags %}
      {% for tag in tags %}
        <li class="nav-item small">
          <a href="{{ tag.url }}">{{ tag.name }}</a>
        </li>
      {% endfor %}
      </ul>
    </div>
  </div>
  <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.7&appId=144948012369584";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
</aside>
