{% load blogging_tags %}
{% load humanize %}
<aside class="col-md-4 col-sm-12 side-panel">
  <!--recent articles -->
  <div class="card">
    <div class="card-header">Recent Articles</div>
      <ul class="list-group list-group-flush">
        {% get_recent_articles as articles %}
        {% for article in articles %}
        <li class="list-group-item media">
          <a href="{{ article.get_absolute_url }}" class="media-left"><img src="{{ article.get_image_url }}" alt="Link to {{ article.get_title }}" class="media-object"></a>
          <div class="media-body">
            <h4 class="media-heading"><a href="{{ article.get_absolute_url }}" class="card-link">{{ article.get_title }}</a></h4>
              <p><a href="{{ article.get_parent.get_content_url }}" class="card-link">{{ article.get_parent.get_menu_title }}</a> • {{ article.publication_start|naturaltime }}</p>
          </div>
        </li>
        {% endfor %}
      </ul>
    </div>

  <!-- Tags -->
  <div class="card">
    <div class="card-header">Tags</div>
    <div class="card-body clearfix">
      <ul class="tag-list nav nav-pills">
      {% get_blogging_tags as tags %}
      {% for tag in tags %}
        <li class="nav-item">
          <a href="{{ tag.url }}">{{ tag.name }}</a>
        </li>
      {% endfor %}
      </ul>
    </div>
  </div>
</aside>
