{% extends "account/base.html" %}
{% load staticfiles %}

{% block title %}Log Out from {{ site.name }}{% endblock %}

{% block content %}
    <div class="card center-block login-block text-xs-center">
        <div class="card-text">
            <h3>Log Out</h3>
            <p>Are you sure you want to log out?</p>
        </div>
        <form class="text-xs-center center-block" method="post" action="{% url 'account_logout' %}">
          {% csrf_token %}
          {% if redirect_field_value %}
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
          {% endif %}
          <button class="btn btn-danger btn-block" type="submit">Log Out</button>
        </form>
    </div>
{% endblock %}
